.StyledProperty1Default{
    width: flex;
    height: 1024px;
    position: relative;
    background: white;
    overflow: hidden;
}

.StyledFrame1{
    width: 700px;
    height: 956px;
    left: 384px;
    top: 36px;
    position: absolute;
    background: rgba(68, 68, 68, 0.76);
    overflow: hidden;
    border-radius: 2px;
    outline: 1px rgba(255, 255, 255, 0.10) solid;
    outline-offset: -1px;
}

.StyledEllipse3 {
    width: 248px;
    height: 248px;
    left: 226px;
    top: 20px;
    position: absolute;
    background: #D9D9D9;
    border-radius: 9999px;
}

.StyledRectangle19{ 
    width: 597px;
    height: 147px;
    left: 436px;
    top: 450px;
    position: absolute;
    background: #6D8B74;
    box-shadow: 0px 9px 30.399999618530273px rgba(0, 0, 0, 0.60);
    border-radius: 45px;
}

.StyledRectangle23{  
    width: 597px;
    height: 147px;
    left: 436px;
    top: 629px;
    position: absolute;
    background: #6D8B74;
    box-shadow: 0px 9px 30.399999618530273px rgba(0, 0, 0, 0.60);
    border-radius: 45px;
}

.StyledOBJECTS {
    width: 109.94px;
    height: 109.94px;
    left: 454px;
    top: 647px;
    position: absolute;
    overflow: hidden;
}

.StyledRectangle22 {
    width: 244px;
    height: 82px;
    left: 614px;
    top: 791px;
    position: absolute;
    background: #6D8B74;
    box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.60);
    border-radius: 45px;
}

.StyledOBJECTS01 {
    width: 124.06px;
    height: 109.94px;
    left: 454px;
    top: 468px;
    position: absolute;
    overflow: hidden;
}
.StyledUsername {
    color: white;
    left: 436px;
    top: 450px;
    font-size: 64px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.90);
}

.StyledWelcometotaskmanager {
    color: white;
    font-size: 48px;
    font-family: Inika;
    font-weight: 400;
    letter-spacing: 13.92px;
    word-wrap: break-word;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.90);
}
  
.StyledPassword {
    color: white;
    font-size: 64px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.90);
}


.StyledRemember {
    color: white;
    font-size: 40px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.90);
}

.StyledForgotpassword {
    color: white;
    font-size: 40px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.90);
}

.StyledLogin {
    color: white;
    font-size: 40px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.90);
}

.StyledCreateaccount {
    color: white;
    font-size: 40px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.90);
}

