.custom-calendar {
    width: 100%;
    background: transparent;
    border: none;
    font-family: 'Arial', sans-serif;
}

.custom-calendar .react-calendar__tile {
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s;
}

.custom-calendar .react-calendar__tile--now {
    background: #80da95;
    color: white;
    font-weight: bold;
}

.custom-calendar .react-calendar__tile--active {
    background: #6D8B74 !important;
    color: white;
    font-weight: bold;
}

.custom-calendar .react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.custom-calendar .react-calendar__navigation {
    margin-bottom: 10px;
}

.custom-calendar abbr[title] {
    text-decoration: none;
}
