.notification-item {
    background-color: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    transition: all 0.3s ease;
    border-left: 5px solid red;
  
    &.read {
      border-left: 5px solid #6d8b74;
    }
  
    &:hover {
      background-color: #f0fdf4;
    }
  
    .anticon {
      transition: color 0.3s;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
  