.register-modal {
    .ant-modal-content {
      background-color: #6D8B74 !important;
      color: white;
    }
  
    .ant-modal-header {
      background-color: #80da95 !important;
      border-bottom: 2px solid #80da95;
    }
  
    .ant-modal-title {
      color: #fff !important;
    }
  
    .ant-btn-primary {
      background-color: #80da95 !important;
      border-color: #80da95 !important;
    }
  
    .register-input {
      background-color: #D9D9D9 !important;
      border: 1px solid #6D8B74;
      color: #333;
      margin-bottom: 10px;
    }
  
    .register-input:hover,
    .register-input:focus {
      border-color: #80da95 !important;
      box-shadow: none !important;
    }
  
    .ant-modal-footer {
      display: none;
    }
  
    .register-title {
      color: #000;
    }
  }
  